yolo_for_AOG_local/x64/
yolo_for_AOG_local/.vs/
yolo_for_AOG_local/yolo_for_AOG/data/
yolo_for_AOG_local/yolo_for_AOG/x64/

AOG_part_local/x64/
AOG_part_local/.vs/
AOG_part_local/Debug/
AOG_part_local/stat232a/Debug/
AOG_part_local/stat232a/x64/

AOG_part_local/stat232a/stat232a.vcxproj.filters
AOG_part_local/stat232a/stat232a.vcxproj

*.txt

